html, body {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-image: url(./images/culture.jpeg);
    overflow: hidden;
}
  /******************************** Form section starts ******************************** */
#mealModal {
    display: none; /* Hidden by default */
    width: 40%;
    height: 70%;
    border:2px solid;
    border-radius: 1.3%;
    position: absolute;
    top: 16%;
    left: 30.5%;
    background-color: #838181;
    justify-content: center;
    text-align: center;
}

button#open, button#random-meal {
    background-color: darkgray;
    color: white;
    cursor: pointer;
    margin-right: 1vw;
    font-size: .9em;
    border-radius: 5%;
}
    
button#open{
    background-color: gray;
}

button#submit{
    border: none;
    padding: 10px 20px;
    margin: 4px 2px;
    border-radius: 25px;
    cursor: pointer;
    margin-bottom: 5%;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
}

button#close{
    position: absolute;
    top: 0;
    right: 2%;
    /* padding: 3%; */
    margin-top: 2%;
    background-color: #5f5d5d;
    font-size: 1em;
    color: white;
    cursor: pointer;    
    height: 2.5vw;
    width: 2.5vw;
}

#form-container h2 {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 1.7em;
    color: white;
}

#form-container input, textarea {
    padding: 7%;
    margin: 1% 0 11% 0; /* top, right, bottom, left */
    border: none;
    background: #f1f1f1;
    width: 92%;
    font-size: .92em;
    height: 1vh;
    font-family: 'Roboto', sans-serif;
}

#inputs {
    display: flex;
    justify-content: space-evenly;
}

#meal-input input {
    width: 10vw;
    height: 3vh;
    padding: 0;
}

#meal-input textarea {
    width: 10vw;
    height: 30.5vh;
    padding: 0;
}

#meal-input, #measurement-input, #ingredient-input {
    display: flex;
    flex-direction: column;
}

#measurement-input input, #ingredient-input input {
    width: 10vw;
    height: 3vh;
    padding: 0;
}
/******************************** Form section ends ******************************** */

/******************************** Header Section Start ***************************** */
header {
    /* background-color: #4CAF50; */
    background-color:rgb(255, 225, 142);
    height: 10vh;
    width: 79.5vw;
    display: flex;
    align-items: center;
    font-family: 'Playfair Display', serif;
    margin: 0;
}

#page-title {
    width: 40vw;
}

#page-title h1 {
    font-family: 'Playfair Display', serif;
    padding-left: 1vw;
}

#img-container {
    width: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
} 

#logo {
    width: 4vw;
    height: 8vh;
}

#search-form-container {
    width: 40vw;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 18px;
}

#form-control {
    align-items: center;
}

#meal {
    width: 15vw;
    height: 2.5vh;
}

/******************************** NavBar Section Start ***************************** */
nav {
    height: 80%;
    width: 12.5%;
}

#meal-list {
    font-family: 'Playfair Display', serif;
    width: 10vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}

#meal-list::-webkit-scrollbar {
    width: 10px;
}

#meal-list::-webkit-scrollbar-track {
    background: rgb(255, 245, 159); 
} 

#meal-list::-webkit-scrollbar-thumb {
    background: #ffd069; 
    border-radius: 5%;
}

#meal-list::-webkit-scrollbar-thumb:hover {
    background: #555; 
} 

#list-item {
    background-color: rgb(255, 245, 159); 
    list-style-type: none;
    flex-basis: 20%;
    padding: 2vh 2vw 2vh 2vw;
    justify-content: center;
    text-align: center;
}

#list-item:hover {
    background-color: #9ad358;
}

/******************************** Main Section Start ******************************* */
#main-container {
    display: flex;
    overflow-y: hidden;
    height: 90vh;
}

#wrapper {
    width:80%;
    height: 100vh;
    /* margin:5px auto; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    margin-left: 10.5vw;
}

#img-center {
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#meal-image {
    border-radius: 16px;
    height: 100%;
    margin-bottom: 10px;
}

#meal-info {
    width: 90%;
    display: flex;
}

#left-container {
    display: flex;
    flex-direction: column;
    width: 34vw;
    height: 90vh;
    padding: 2.5px;
    background-color: rgb(255, 245, 159); 
}

#right-container {
    display: flex;
    flex-direction: column;
    width: 35vw;
    height: 90vh;
    padding: 2.5px;
    justify-content: center;
    background-color: rgb(255, 245, 159); 
}

#text-details {
    text-align: center;
    background-color: rgba(255, 252, 226, 0.644);
    border-radius: 16px;
    margin-bottom: 5px;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
} 

#meal-name {
    font-size: 60px;
}

#lists {
    display: flex;
    justify-content: center;
    border-radius: 16px;
    background: rgba(255, 252, 226, 0.644);
    height: 50%;
}

#lists li {
    list-style-type: "- ";
}

#measurement-list{
    margin:0;
}

#lists h3 {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    border-bottom: 1px black solid;
    text-align: center;
    margin-right: 5%;
}

#description {
    border-radius: 16px;
    background: rgba(255, 252, 226, 0.644);
    padding: 10px;
    font-size: 15px;
    text-align: center;
    margin-top: 0.5vh;
    height: 47%;
    overflow-y: scroll;
}

#description::-webkit-scrollbar {
    width: 10px;
}

#description::-webkit-scrollbar-track {
    background: #f1f1f100; 
} 

#description::-webkit-scrollbar-thumb {
    background: #ffd069; 
    border-radius: 5%;
}

#description::-webkit-scrollbar-thumb:hover {
    background: #555; 
} 

#meal-instructions {
    margin: 0 10px 0 10px;;
}

h3, p {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}
