html, body {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-image: url(./images/culture.jpeg);
}
  /******************************** Form section starts ******************************** */
#mealModal {
    display: none; /* Hidden by default */
    width: 13%;
    padding: 0 5%;
    border:2px solid;
    border-radius: 1.3%;
    position: absolute;
    top: 25%;
    left: 43%;
    background-color: #838181;
    justify-content: center;
    text-align: center;
}

button#open, button#random-meal {  
        background-color: darkgray;
        color: white;
        cursor: pointer;
        margin-right: 1vw;
        font-size: .9em;
        border-radius: 5%;
    }
    
    button#open{
      background-color: gray;
    }

button#submit{
    border: none;
    padding: 10px 20px;
    margin: 4px 2px;
    border-radius: 25px;
    cursor: pointer;
    margin-bottom: 5%;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
}

button#close{
    position: absolute;
    top: 0;
    right: 2%;
    padding: 3%;
    background-color: #5f5d5d;
    font-size: 1em;
    color: white;
    cursor: pointer;    
    height: 2.5vw;
    width: 2.5vw;
}

#form-container h2 {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 1.7em;
    color: white;
}

#form-container input, textarea {
    padding: 7%;
    margin: 1% 0 11% 0; /* top, right, bottom, left */
    border: none;
    background: #f1f1f1;
    width: 92%;
    font-size: .92em;
    height: 1vh;
    font-family: 'Roboto', sans-serif;
}
/******************************** Form section ends ******************************** */

/******************************** Header Section Start ***************************** */
header {
    /* background-color: #4CAF50; */
    background-color:beige;
    height: 10vh;
    display: flex;
    align-items: center;
    font-family: 'Playfair Display', serif;
}

#page-title {
    width: 40vw;
}

#page-title h1 {
    font-family: 'Playfair Display', serif;
    padding-left: 1vw;
}

#logo {
    width: 4vw;
    height: 8vh;
}

#search-form-container {
    width: 40vw;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 18px;
    
}

#form-control {
    align-items: center;
}

#meal {
    width: 15vw;
    height: 2.5vh;
}

/******************************** NavBar Section Start ***************************** */
nav {
    background-color: #8BC34A;
}

#meal-list {
    font-family: 'Playfair Display', serif;
    width: 10vw;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

#list-item {
    background-color: #8BC34A;
    list-style-type: none;
    flex-basis: 20%;
    padding: 2vh 2vw 2vh 2vw;
    justify-content: center;
    text-align: center;
}

#list-item:hover {
    background-color: #9ad358;
}

/******************************** Main Section Start ******************************* */
#main-container {
    display: flex;
    overflow-y: hidden;
    height: 90vh;
}

#wrapper {
    width:80%;
    margin:0 auto;
    display:block;
  }

#img-container {
    width: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
} 

#meal-image {
    border-radius: 16px;
    background-color: #8BC34A;
}

#meal-info {
    width: 90vw;
    display: flex;
}

#left-container {
    display: flex;
    flex-direction: column;
    width: 34vw;
    padding: 2.5px;
    background-color: #8BC34A;
}

#right-container {
    width: 35vw;
    padding: 2.5px;
    justify-content: center;
    background-color: #8BC34A;
}

#text-details {
    text-align: center;
    background-color: #e9e9e98f;
    border-radius: 16px;
    margin-bottom: 5px;
} 

#meal-name {
    font-size: 4.5em;
    overflow-x: hidden;
    color:darkred;
    word-wrap: break-word;
}

#lists {
    border-radius: 16px;
    background: #e9e9e98f;
    margin-bottom: 5px;
    overflow: scroll;
    margin-top: 0;
    height: 25vw;
    font-size:1.05em;
}

#lists li {
    list-style-type: "- ";
}

#lists h3 {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    border-bottom: 1px black solid;
    text-align: center;
    margin-right: 5%;

}

#description {
    border-radius: 16px;
    background: #e9e9e98f;
    padding: 2.5px;
    width: 35vw;
    font-size: 15px;
    overflow-y: scroll;
    height: 25vw;
    font-size:1.05em;
    padding:8px;
    line-height:25px;
}

#meal-instructions {
    margin: 0 10px 0 10px;;
}

h3, p {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}
